@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.nav-link {
    text-transform: uppercase !important;
}
.navbar-dark {
    background-color: #646363 !important;
    
}
.navbar-dark .nav-link {
    color: white !important;
}
.navbar-dark .dropdown-item {
    text-transform: uppercase !important;
}

.navbar-dark .nav-item {
    padding: 8px 8px !important;
}
.navbar-light .nav-link {
    color: #646363 !important;
}
.navbar-light i {
    font-size: 30px;
}
.navbar-light p {
    width: 30px !important;
    height: 25px !important;
}
.d-flex {
    
    margin-top: 10px !important;
    padding: 10px 20px !important;
}
.d-flex .btn {
    border-radius: 20px !important;
}
.me-2 {
    
    border-radius: 20px !important;
    border: solid 1px #646363 !important;
}
.me-2::placeholder {
    color: #646363 !important;
}
.d-flex i {
    font-size: 15px !important;
    color: #646363 !important;
}

footer {
    background-color: #646363 !important;
    color: white !important;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
}
.uppercase {
    text-transform: uppercase !important;
}
.video-container {
    padding: 50px;
    text-align: center;
}
.brochure {
    padding: 50px;
    text-align: center;
    
}
.brochure img {
    max-height: 400px;
}
.LogoNav {
    position: absolute;
    top: 10px !important;
    left: 20px !important;
    z-index: 5;
}
nav {
    height: 40px !important;
}