<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# Ajout du favicon #}
        <link rel="icon" href="{{ asset('images/iut.ico') }}">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" />

            {# Import CSS Bootstrap #}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            {# Import JS Bootstrap #}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

        {% endblock %}
    </head>
    <body>
        {% block nav %}
        
            <section class="navigation">
                <div class="nav-container">
                    <nav>
                        <ul>
                            <li>Accueil</li>
                            <li>L'IUT</li>
                            <li>Formations</li>
                            <li>International</li>
                            <li>Entreprises</li>
                            <li>Recherche</li>
                            <li>Vie étudiante</li>
                            <li>Candidatures</li>
                            <li>Evènement</li>
                        </ul>
                    </nav>
                </div>
            </section>
        
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
