<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# Ajout du favicon #}
        <link rel="icon" href="{{ asset('images/iut.ico') }}">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block nav %}
        
            <section class="navigation">
                <div class="nav-container">
                    <nav>
                        <ul>
                            <li>Accueil</li>
                            <li>L'IUT</li>
                            <li>Formations</li>
                            <li>International</li>
                            <li>Entreprises</li>
                            <li>Recherche</li>
                            <li>Vie étudiante</li>
                            <li>Candidatures</li>
                            <li>Evènement</li>
                        </ul>
                    </nav>
                </div>
            </section>
        
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
