{% extends 'base.html.twig' %}

{% block title %}
Départements
{% endblock %}

{% block body %}
  <div class="introDep">
    <h1>Les départements</h1>
    <p>L’IUT de Troyes compte aujourd’hui 6 départements et 1 service de formation continue et alternance.</p>
  </div>
  <div class="container dep">
    <div class="row align-items-center">

        <div class="col-lg-6">
        <div class="module-border-wrap">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">MMI</h2>
              <h5 class="card-text">Métiers du mutimédia et de l’Internet</h5>
              <p class="card-text indent">Le département Métiers de l’Internet et du Multimédia (anciennement Services et Réseaux de Communication) forme les acteurs de l’Internet, des médias numériques, de la communication plurimédia, de la création graphique.</p>
              <p class="card-text">Responsable :<br />Florent Libbrecht<br />florent.libbrecht@univ-reims.fr</p>
            </div>
            <img width="150" src="{{ asset('images/logoMMI.jpg') }}" class="card-img-bottom" alt="Logo MMI">
          </div>
        </div>
        </div>

        <div class="col-lg-6">
        <div class="module-border-wrap">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">CJ</h2>
              <h5 class="card-text">Carrière Juridique</h5>
              <p class="card-text indent">Le département Carrières Juridiques prépare les étudiants à devenir des techniciens du droit dans des domaines variés : études de notaires, d’huissiers mais aussi des cabinets d’expert-comptable ou des services de ressources humaines.</p>
              <p class="card-text">Responsable :<br />Gilles Darmon<br />gilles.darmon@univ-reims.fr</p>
            </div>
            <img width="150" src="{{ asset('images/logoCJ.jpg') }}" class="card-img-bottom" alt="Logo MMI">
          </div>
        </div>
        </div>
        </div>

    </div> 
    </div>             
  </div>


{% endblock %}