{% extends 'base.html.twig' %}

{% block title %}
Accueil
{% endblock %}

{% block body %}

<h1>Test : {{ home }}</h1>


<div class="card" style="width: 18rem;">
  <img src="{{ asset('images/logo.png') }}" alt="Symfony!" />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{% endblock %}